body {
    background-color: gainsboro;
    color: black;
}
textarea{
    background-color: lavender;
    color: lightslategray;
    font-family: helvetica;
}

.aligncenter {
    margin: auto;
    width: 25vw;
    display: grid;
}

.navbar {
    background-color: white;
    color: black;
    font-family: helvetica;
}

.navbar > a {
    padding: 10px;
}