body {
    margin: 0;
    background-color: gainsboro;
    color: black;
}
textarea{
    background-color: lavender;
    color: lightslategray;
    font-family: helvetica;
}

.aligncenter {
    margin: auto;
    width: 33vw;
    display: grid;
}

.navbar {
    width: 100vw;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-family: helvetica;
}

.navbar > a {
    line-height: 60px;
    padding: 10px;
    text-decoration: none;
    color: orange;
}

.content {
    padding: 100px 0 0 0;
}